:root {
    /* colors */
    --background: #FFFFFF;
    --text-element: #fbc687;
    --minor-text-element: #f4f7c5;
    --font-light: #FFFFFF;
    --font-dark: #000000;
    --button: #da806a;
    --minor-button: #a0a47a;
    --button-hover: #ea907a;
    --button-warning: #f92b20;
    --borders: #666666;
    --title: #ea907a;

    /* size parameters */
    --border-radius: 5px;
  }

body{
    background-color: var(--background);
}

.sketchpad {
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.sketchpad_nopointer {
    pointer-events: none;
}

.color_button {
    border: 1px black;
    border-style: solid;
    color: var(--font-light);
    margin: 3px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    font-size: 24px;
    color: var(--font-dark);
}

.size_button {
    border: none;
    color: var(--font-light);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.draw_tools {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.player_list_button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

.button_kick {
    color: var(--button-warning);
}

.button_edit {
    color: var(--font-dark);
}

.title {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--title);
    border-radius: var(--border-radius);
}

.text_element {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--text-element);
    border-radius: var(--border-radius);
}

.minor_text_element {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--minor-text-element);
    border-radius: var(--border-radius);
}

button {
    background-color: var(--button);
    border: none;
    color: var(--font-light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: initial;
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
}

.minor_button {
    background-color: var(--minor-button);
}

button:hover {
    opacity: 0.85;
    /* background-color: var(--button-hover); */
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.button_send {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.button_flashing {
    animation: flashing 1000ms infinite;
}

@keyframes flashing {
    0% {
      background-color: var(--button);
      box-shadow: 0 0 0px var(--button);
    }
    50% {
      background-color: var(--button-warning);
      box-shadow: 0 0 20px var(--button-warning);
}
    100% {
      background-color: var(--button);
      box-shadow: 0 0 0px var(--button);
    }
}

.center_buttons {
    text-align: center;
}

.input {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input_small {
    width: 100px;
}

.input_inline {
    width: 20px;
}

body {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    font-family: myFont;
    font-size: "24px";
}

@font-face {
  font-family: myFont;
  src: url(fonts/ComicNeue-Regular.ttf);
}

.fade_in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade_out {
animation: fadeOut ease 2s;
-webkit-animation: fadeOut ease 2s;
-moz-animation: fadeOut ease 2s;
-o-animation: fadeOut ease 2s;
-ms-animation: fadeOut ease 2s;
}
@keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-moz-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-o-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-ms-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}