.sketchpad {
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.color_button {
    border: none;
    color: white;
    margin: 3px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    font-size: 24px;
    color: black;
}

.size_button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.draw_tools {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #ea907a;
}

.text_element {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #fbc687;
}

.minor_text_element {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #f4f7c5;
}

.button {
    display: block;
    margin: auto;
}

.button_send {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.button_in_div {
    display: block;
    margin: auto;
    margin-top: 5px;
}

.input {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input_small {
    width: 100px;
}

body {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    font-family: myFont;
    font-size: "24px";
}

@font-face {
  font-family: myFont;
  src: url(fonts/ComicNeue-Regular.ttf);
}

.fade_in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade_out {
animation: fadeOut ease 2s;
-webkit-animation: fadeOut ease 2s;
-moz-animation: fadeOut ease 2s;
-o-animation: fadeOut ease 2s;
-ms-animation: fadeOut ease 2s;
}
@keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-moz-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-o-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}

@-ms-keyframes fadeOut {
0% {opacity:1;}
100% {opacity:0;}
}