<!DOCTYPE html>
<html>
<head>
    <title>Drawphone</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('fonts/fontawesome-free-5.15.1-web/css/all.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script src="{{ static_url('helpers.js') }}" type="text/javascript"></script>

<!-- PREGAME -->
<div id="div_presenter_pre_game" style="display: none;">
    <div id="div_presenter_pre_game_title" class="title">Connected Players (0)</div>
    <div id="div_presenter_pre_game_player_list"></div>
    <div id="div_presenter_settings" style="display: none;">
        <div class="minor_text_element">
            <p>Timeout (in Seconds)</p>
            <input id="timeout_input" class="input input_small" placeholder="[No Timeout]" pattern="[0-9]*">
        </div>
        <div class="minor_text_element">
            <p>Task in the First Round</p>
            <table style="margin: auto; text-align: left;">
    <!--            <col style="width:70%">-->
    <!--            <col style="width:30%">-->
                <tbody>
                    <tr>
                        <td>
                            <input type="radio" id="choice_task_prompt" name="task_choice" value="prompt">
                        </td>
                        <td>
                            <label for="choice_task_prompt">Players think of a prompt</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="choice_task_draw" name="task_choice" value="draw">
                        </td>
                        <td>
                            <label for="choice_task_draw">Players draw (computer prompts)</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="choice_task_custom" name="task_choice" value="prompt">
                        </td>
                        <td>
                            <label for="choice_task_custom">
                                Custom round count:
                                <input id="rounds_input" class="input_inline" placeholder="0" min="2"
                                       pattern="[0-9]*" onchange="
                                       document.getElementById('choice_task_custom').checked = true;
                                       update_rounds_hint()">
                                <div id="div_rounds_hint" style="display: none;"></div>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="minor_text_element">
            <p>Wordlist to Use</p>
            <select id="wordlist_dropdown" class="input" name="wordlist_dropdown"
                    onchange="wordlist_change()">
                <option value="default">Simple Words (German)</option>
                <option value="advanced">Advanced Words (German)</option>
                <option value="custom">Custom Words</option>
                <option value="sexy" disabled>18+ Words (WIP)</option>
            </select>
            <div id="custom_wordlist_div" style="display: none;">
                <input id="custom_wordlist"
                       placeholder="Pizza Hawaii, Eiffelturm, Vincent van Gogh, …">
            </div>
        </div>
        <div class="minor_text_element">
            Room ID: <b id="room_id"></b>
        </div>
        <div class="minor_text_element">
            <table style="margin: auto;">
    <!--            <col style="width:70%">-->
    <!--            <col style="width:30%">-->
                <tbody>
                    <td>
                        Allow history logging for cool data analysis
                    </td>
                    <td>
                        <input id="logging_input" type="checkbox">
                    </td>
                </tbody>
            </table>
        </div>
    </div>
    <div id="presenter_pregame_waiting">
        <div class="minor_text_element">
            Waiting for host to start the game …
        </div>
    </div>
    <div class="center_buttons">
        <button id="copy_room" class="minor_button" onclick="copy_room_to_clipboard()">
            Copy Room Link
        </button>
        <button id="start_button" class="button" disabled onclick="startGame()"
            style="display: none;">Start Game</button></p>
    </div>
</div>

<!-- div_presenter_playing -->
<div id="div_presenter_playing" style="display: none">
    <p id="div_presenter_playing_title" class="title"></p>
    <p class="text_element">Players ready</p>
    <p id="div_presenter_playing_player_list_ready"></p>
    <p class="text_element">Players not yet ready</p>
    <p id="div_presenter_playing_player_list_not_ready"></p>
    <div id="div_timeout_counter" class="text_element" style="display: none;"></div>
</div>

<!-- POSTGAME -->
<div id="div_presenter_post_game" style="display: none">
    <div class="title">Results</div>
    <div id="history"></div>
    <div class="center_buttons">
        <button id="button_export_history" onclick="export_history()"
                class="fade_in minor_button" style="display: none;">Download results</button>
        <button id="button_start_new_game" onclick="start_new_game()"
                class="fade_in" style="display: none;">Play again</button>
    </div>
</div>

<div id="div_draw" style="display: none">
    <p class="text_element">It's your turn to draw: <span id="prompt_supplied"></span></p>
    <div id="sketchpad_input_root">
        <canvas class="sketchpad" id="sketchpad_input"></canvas>
    </div>
    <div class="draw_tools">
        <button class="color_button" data-color="4CAF50" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="CCFF00" onclick="change_stroke_color(this)"></button>
<!--        <button class="color_button" data-color="33FFFF" onclick="change_stroke_color(this)"></button>-->
        <button class="color_button" data-color="008CBA" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="f44336" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="FFCC00" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="FFFF33" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="5B3A29" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="000000" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-color="FFFFFF" onclick="change_stroke_color(this)"></button>
        <button class="color_button" data-stroke-size="5" onclick="change_stroke_size(this)">
            <svg width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="_2" serif:id="2" x="0" y="0" width="128" height="128" style="fill:none;"/><circle cx="64" cy="64" r="15"/></svg>
        </button>
        <button class="color_button" data-stroke-size="10" onclick="change_stroke_size(this)">
            <svg width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="_1" serif:id="1" x="0" y="0" width="128" height="128" style="fill:none;"/><circle cx="64" cy="64" r="33"/></svg>
        </button>
        <button class="color_button" data-stroke-size="20" onclick="change_stroke_size(this)">
            <svg width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="_0" serif:id="0" x="0" y="0" width="128" height="128" style="fill:none;"/><circle cx="64" cy="64" r="50"/></svg>
        </button>
        <button class="color_button" onclick="sketchpad1.undo()">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
        <button class="color_button" onclick="sketchpad1.redo()">
            <i class="fa fa-redo" aria-hidden="true"></i>
        </button>
        <div id="drawing_palette_container" style="float:left; cursor:crosshair;">
            <canvas id="drawing_palette" width="512" height="128" style="border-width:thin; border-style:solid;"></canvas>
        </div>
    </div>
    <button id="button_send_image" class="button button_send" disabled onclick=sendImage()>Send</button>
</div>

<div id="div_prompt" style="display: none">
    <p class="text_element">Someone drew this image, what could it mean?</p>
    <img src=placeholder class="sketchpad sketchpad_nopointer" id="sketchpad_supplied">
    <div></div>
    <div>
        <input class="input" id="prompt_input"
               onclick="document.getElementById('button_send_prompt').disabled = false"
               onkeyup="checkSubmit(event, sendPrompt)">
    </div>
    <button id="button_send_prompt" class="button button_send"
            disabled onclick=sendPrompt()>Send</button>
</div>

<div id="div_submit_first_prompt" style="display: none">
    <p class="text_element">What should the next player draw?</p>
    <input class="input" id="input_first_prompt"
           onclick="document.getElementById('button_send_first_prompt').disabled = false"
           onkeyup="checkSubmit(event, sendFirstPrompt)">
    <button id="button_send_first_prompt" class="button button_send"
            disabled onclick='sendFirstPrompt(false)'>Send</button>
    <button class="minor_button button_send"
            onclick='sendFirstPrompt(true)'>Let the computer choose for me</button>
</div>

<div id="div_loader" class="loader" style="display: none;"></div>

<script src="{{ static_url('jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('sketchpad.js') }}" type="text/javascript"></script>
<script src="{{ static_url('html2canvas.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('FileSaver.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    // Set the hostname from the template engine
    var hostname = "{{ host }}"
</script>
<script src="{{ static_url('webclient.js') }}" type="text/javascript"></script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.kumula.me/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
