<!DOCTYPE html>
<html>
<head>
    <title>Drawphone</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script src="{{ static_url('helpers.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
    vw = Math.min(vw, 400) - 20
    body = document.body
    body.style.width = vw + "px"

    existing_rooms = unescape("{{ existing_rooms }}")

    function create_game() {
        while(true) {
            code = Math.floor(Math.random() * 1000000)
            if (existing_rooms.indexOf(code) == -1) {
                window.location = "/?room_id=" + code
                break;
            }
        }
    }
</script>

<div id="root">
    <div class="title">Drawphone</div>
    <div class="text_element">To create a room, use this button.
        <button class="button_in_div" onclick="create_game()">Create a Room</button>
    </div>
    <div class="text_element">To join a room, use the link from someone with a room.</div>
    <div id="commits_div" class="minor_text_element" style="display: none;">
        <p>Latest Updates:</p>
        <div id="commits_list_div"></div>
    </div>
    <div class="minor_text_element"><a href=https://github.com/2xlink/DrawPhone>Source Code</a>
        | <a href=https://github.com/2xlink/DrawPhone/issues/>Open an Issue</a>
        | <a href="privacy">Privacy</a></div>
</div>

<script type="text/javascript">
    var ws
    if (window.location.protocol == "https:") {
        ws = new WebSocket("wss://{{ host }}/websocket");
    } else {
        ws = new WebSocket("ws://{{ host }}/websocket");
    }

    ws.onopen = function() {
        ret = {
            "command": "get_commits"
        }
        ws.send(JSON.stringify(ret))
    };

    ws.onmessage = function (evt) {
        console.log(evt.data);
        data = JSON.parse(evt.data)

        if ("commits" in data) {
            commits = data["commits"]
            commits_div = document.getElementById("commits_div")
            commits_list_div = document.getElementById("commits_list_div")
            commits_div.style.display = "block"

            commits.forEach(c => {
                e = document.createElement("p")
                e.innerText = c
                commits_list_div.appendChild(e)
            })
        }
    }
</script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.kumula.me/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
