<!DOCTYPE html>
<html>
<head>
    <title>Drawphone</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script src="{{ static_url('helpers.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
    vw = Math.min(vw, 400) - 20
    body = document.body
    body.style.width = vw + "px"

    existing_rooms = unescape("{{ existing_rooms }}")

    function create_game() {
        while(true) {
            code = Math.floor(Math.random() * 1000000)
            if (existing_rooms.indexOf(code) == -1) {
                window.location = "/?room_id=" + code
                break;
            }
        }
    }
</script>

<div id="root">
    <p class="title">Drawphone</p>
    <p class="text_element">To create a room, use this button.
        <button class="button_in_div" onclick="create_game()">Create a Room</button>
    </p>
    <p class="text_element">To join a room, use the link from someone with a room.</p>
    <p class="minor_text_element"><a href=https://github.com/2xlink/DrawPhone>Source Code</a> | <a href=https://github.com/2xlink/DrawPhone/issues/>Open an Issue</a></p>
</div>
</body>
</html>
