<!DOCTYPE html>
<html>
<head>
    <title>Drawphone</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
</head>
<body>

<script type="text/javascript">
    function create_game() {
        window.location = "//drawphone.kumula.me/?room_id=" + Math.floor(Math.random() * 1000000)
    }
</script>

<div id="root">
    <p class="title">Drawphone</p>
    <p class="text_element">To create a room, use this button.</p>
    <button class="button" onclick="create_game()">Create a Room</button>
    <p class="text_element">To join a room, use the link from someone with a room.</p>
</div>
</body>
</html>