<!DOCTYPE html>
<html>
<head>
    <title>Drawphone</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <script type="text/javascript">
        var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
        vw = Math.min(vw, 400) - 20
        body = document.body
        body.style.width = vw + "px"

        function setName() {
            document.cookie = "name=" + document.getElementById("input_name").value + "; max-age=" + 60*60*24*365
            location.reload()
        }

        function checkSubmit(e) {
            if(e && e.keyCode == 13) {
              setName()
            }
        }
    </script>

    <div class="text_element">
        Enter your name
    </div>
    <input class="input" id="input_name" onkeyup="checkSubmit(event)">
    <button class="button button_send" onclick='setName()'>Send</button>
</body>

</html>